div.spinner {
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 6px solid #9ce421;
    border-bottom: 6px solid #9de4212d;
    border-left: 6px solid #9de421c5;
    border-right: 6px solid transparent;
}